*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
@font-face{
    font-family:roboto;
    src:url(./fonts/Roboto-Regular.ttf)
}
@font-face{
    font-family:Popins;
    src:url(./fonts/Poppins-Regular.ttf)
}

@media only screen and  (max-width: 768px){
    .tittle{
        font-size: 17.451px !important;
    }
    .table{
        width: 100% !important;
        margin-top: 17px !important;
        margin-bottom: 17px !important;
    } 
    .cost{
        font-size: 15px !important;  
    }
    .down-cont{
        width: 100% !important;
    }
    td{
        font-size: 14px !important; 
    }
    .right-text{
        font-size: 14px !important;
    }
    .footer-block{
        padding: 0px !important;
    }
    .crowdfund{
        color: #D1D1D1 !important;
        text-decoration: none !important;
    }
    .button-group{
        margin-bottom: 46px !important;  
    }
    .foot-rov{
        margin-top: 109px !important;
    }
    .dropdown-item{
padding: 0px 5px !important;
    }
    .dropdown-menu{
        left:-20px !important;
        top: 85% !important;
    }
}
.tittle{
    font-family:Popins;
    font-style: normal;
    font-weight: 900;
    font-size: 27.451px;
    line-height: 27px;
    color: #000000;
}
.carousel-indicators a{
    height: 10px !important;
    width: 10px !important;
    border-radius: 100%;
    background-color: aliceblue;
}
.Click{
    top:80% !important;
    left:36% !important;
    z-index: 2 !important;
}

.footer-cont{
    bottom: 0px;
}
.footer-block{
    padding: 20px 65px 20px 35px;
}
.circles{
    left:0;
}

.social-2{
margin-left: 18px;
margin-right: 20px;
}
.docs{
margin-top: 88px;
margin-right: 113px;
}
.TERMS{
    font-family:Popins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF ;
    text-decoration: none;
}
.crowdfund{
    font-family:roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.CONTACT{
    font-family:Popins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #000000;
    text-decoration: none;
}
.table{
    border: 1px solid rgba(89, 92, 92, 0.3);
    border-radius: 4px ;
    margin-top: 56px;
    margin-bottom: 46px;
}

.line{
    width: 1px;;
    height: 60px;
    background-color: #e9a0bcc4;;
}
.donwload-btn a {
    text-decoration: none; 
}

.cost{
    font-family:roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FF0060 ;
   
}
.SPEAKERS{
    font-family:Popins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #1B1B1B;
}
h1{
    font-family:Popins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    color: #1B1B1B;
}
.BeoPlay{
    font-family:roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #9B9B9B;
}
td{
    font-family:roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9B9B9B;
}
.right-text{
    font-family:roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #1B1B1B;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.down-cont{
    height: 60px;
    border: 2px solid #FF0060;
    border-radius: 100px;
    width: 245px;
}
.btn-group {
    border:2px solid rgba(89, 92, 92, 0.3);
    border-radius: 100px;
    
}
.but-1{
    border-right: 2px solid rgba(89, 92, 92, 0.3) !important;
    border-left: 2px solid rgba(89, 92, 92, 0.3) !important;    
}
.view{
    font-family:roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9B9B9B;
}